@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600;700;900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .nav-menu {
    width: 280px;
    height: 100%;
    display: flex;
    justify-content: center;
    position: fixed;
    top: 0;
    z-index: 20;
    left: -100%;

    transition: 650ms;
  }

  .active {
    width: 280px;
    height: 100%;
    display: flex;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    transition: 650ms;
  }
}
